# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
# Change the path to the dataset file if needed. 
PATH = 'athlete events.csv'

In [4]:
data = pd.read_csv('athlete events.csv')
data.head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [6]:
data1 = data[(data['Year'] == 1988)]

columns_to_show = ['Age']

data1.groupby(['Sex'])[columns_to_show].min()

      Age
Sex
F    11.0
M    12.0

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [8]:
data2_bask = data[(data['Sex'] == 'F') & (data['Sport'] == 'Basketball') & (data['Year'] == 2012)]

data2_all = data[(data['Sex'] == 'F') & (data['Year'] == 2012)]

[columns_to_show] = ['Name']

total_bask = data2_bask.groupby(['Name'])[columns_to_show].value_counts().count()

total_all = data2_all.groupby(['Name'])[columns_to_show].value_counts().count()

(total_bask / total_all * 100).round(1)

4.0

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [6]:
import numpy as np

data3 = data[(data['Sex'] == 'F') & (data['Sport'] == 'Tennis') & (data['Year'] == 1988)]

columns_to_show = ['Height']

data3.groupby(['Sex'])[columns_to_show].agg([np.mean, max]).round(1)

    Height
      mean    max
Sex
F    171.7  190.0

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [7]:
data4 = data[(data['Year'] == 1988)]

columns_to_show = ['Name', 'Sport', 'Weight']

data4.sort_values(by = 'Weight', ascending = False)[columns_to_show].head(1)

              Name          Sport  Weight
270643  Ji Zubrick  Weightlifting   161.0

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [8]:
data5 = data[(data['Name'] == 'John Aalberg')]

columns_to_show = ['Year']

data5.groupby(['Name', 'Year'])[columns_to_show].value_counts().count()

2

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [9]:
data6 = data[(data['Name'] == 'John Aalberg') & (data['City'] == 'Albertville')]

columns_to_show = ['Event']

data6.groupby(['Event'])[columns_to_show].value_counts().count()

4

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [10]:
data7 = data[(data['Team'] == 'Belarus') & (data['Year'] == 2012) & (data['Medal'] == 'Gold') & (data['Sport'] == 'Tennis')]

columns_to_show = ['Event']

data7.groupby(['Event'])[columns_to_show].value_counts().count()

1

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [11]:
data8_Spain = data[(data['Team'] == 'Spain') & (data['Year'] == 2016) & (data['Medal'] != 'NaN')]

data8_Italy = data[(data['Team'] == 'Italy') & (data['Year'] == 2016) & (data['Medal'] != 'NaN')]

columns_to_show = ['Event']

total_Spain = data8_Spain.groupby(['Medal', 'Event'])[columns_to_show].value_counts().count()

total_Italy = data8_Italy.groupby(['Medal', 'Event'])[columns_to_show].value_counts().count()

total_Spain < total_Italy

True

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [12]:
data9_1988 = data[(data['Year'] == 1988)]

data9_2002 = data[(data['Year'] == 2002)]

columns_to_show = ['Sport']

total_1988 = data9_1988.groupby(['Sport'])[columns_to_show].value_counts().count()

total_2002 = data9_2002.groupby(['Sport'])[columns_to_show].value_counts().count()

abs(total_1988 - total_2002)

22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [9]:
data10 = data[((data['Medal'] == 'Gold') | (data['Medal'] == 'Silver') | (data['Medal'] == 'Bronze'))]

columns_to_show = ['Team']

all_list = data10.groupby(['Team','Event'])[columns_to_show].value_counts()

all_list.groupby(['Team']).sum().sort_values(ascending = False).head(1)

Team
United States    5219
dtype: int64